# The model of the interactable
setr truckJob:depotPedModel "s_m_m_ups_01"

# Coordinates of the interactable ped
setr truckJob:depotPedLocation {
  "x": -494.56,
  "y": -2910.07,
  "z": 5.0
}

# Heading of the interactable ped
setr truckJob:depotPedHeading 225.24

setr truckJob:depotBlipLocation {
  "x": -506.63, 
  "y": -2915.31,  
  "z": 40.1
}

# The truck models
setr truckJob:truckModels [
  "hauler",
  "packer",
  "phantom"
]

# Configuration for the trailer models available for use with the truck job.
# Players can choose from these trailer models when performing the job.
# You can add or remove trailer models based on your preferences or available resources.
set truckJob:trailerModels [
  "trailerlarge",
  "docktrailer",
  "tr4",
  "tr2",
  "trflat",
  "trailers4",
  "trailers3",
  "trailers2",
  "trailers",
  "tvtrailer",
  "trailerlogs",
  "tanker2",
  "tanker"
]

setr truckJob:truckSpawnLocations [
  { "x": -512.41, "y": -2858.46, "z": 5.42, "h": 46.37 },
  { "x": -507.93, "y": -2853.55, "z": 5.42, "h": 47.76 },
  { "x": -503.66, "y": -2849.16, "z": 5.42, "h": 42.28 },
  { "x": -504.99, "y": -2848.04, "z": 5.42, "h": 45.1},
  { "x": -498.90, "y": -2845.44, "z": 5.42, "h": 45.1 }
]

setr truckJob:trailerSpawnLocations [
  {"x": 2673.69, "y": 3518.21, "z": 52.71, "h": 336.66},
  {"x": 167.69, "y": 2756.53, "z": 43.39, "h": 239.22},
  {"x": 648.13, "y": 2763.6, "z": 41.97, "h": 184.53},
  {"x": 302.3, "y": 2833.88, "z": 43.45, "h": 305.92},
  {"x": 1374.99, "y": 3611.88, "z": 34.89, "h": 199.46},
  {"x": 2327.29, "y": 3138.91, "z": 48.17, "h": 79.8},
  {"x": 2672.65, "y": 3517.07, "z": 52.71, "h": 333.39},
  {"x": 2895.51, "y": 4381.8, "z": 50.38, "h": 287.41},
  {"x": 1714.21, "y": 4807.46, "z": 41.8, "h": 101.8}
]

setr truckJob:deliveryDropPoints [
  { "x": -3173.98, "y": 1106.61, "z": 20.21, "h": 337.07 },
  { "x": 186.86, "y": 6395.73, "z": 30.77, "h": 330.00 },
  { "x": -362.77, "y": 6072.72, "z": 30.88, "h": 318.60 }
]


setr truckJob:_deliveryRoutes [
  {
    "routeType": 1,
    "routeName": "point to point",
    "trailerCoordinates": {
      "trailerPickUpLocation": {
        "x": -483.49, 
        "y": -2824.99, 
        "z": 6.0, 
        "h": 239.22
      },
      "trailerReturnLocation": { 
        "x": -373.53, 
        "y": -2801.28, 
        "z": 6.0, 
        "h": 330.00 
      }
    },
    "routeCoordinates": {
    },
    "routeTrailerModel": "trailers"
  }
]