# The model of the interactable
setr mrp:trucking:depotPedModel "s_m_m_ups_01"

# Coordinates of the interactable ped
setr mrp:trucking:depotPedCoordinates {
  "x": -494.56,
  "y": -2910.07,
  "z": 5.0
}

# Heading of the interactable ped
setr mrp:trucking:depotPedHeading 225.24

setr mrp:trucking:depotBlipCoordinates {
  "x": -506.63, 
  "y": -2915.31,  
  "z": 40.1
}

# The truck models
setr mrp:trucking:truckModels [
  "hauler",
  "packer",
  "phantom"
]

# Configuration for the trailer models available for use with the truck job.
# Players can choose from these trailer models when performing the job.
# You can add or remove trailer models based on your preferences or available resources.
set mrp:trucking:trailerModels [
  "trailerlarge",
  "docktrailer",
  "tr4",
  "tr2",
  "trflat",
  "trailers4",
  "trailers3",
  "trailers2",
  "trailers",
  "tvtrailer",
  "trailerlogs",
  "tanker2",
  "tanker"
]

setr mrp:trucking:truckSpawnLocations [
  { "x": -521.9, "y": -2867.2, "z": 6.07, "h": 45.16 },
  { "x": -513.78, "y": -2857.2, "z": 6.07, "h": 45.16 },
  { "x": -509.11, "y": -2852.51, "z": 6.07, "h": 45.16 },
  { "x": -504.74, "y": -2848.27, "z": 6.07, "h": 45.16 },
  { "x": -499.34, "y": -2844.49, "z": 6.07, "h": 45.16 },
  { "x": -495.48, "y": -2839.79, "z": 6.07, "h": 45.16 }
]

setr mrp:trucking:deliveryRoutes [
  {
    "routeType": "POINT_TO_POINT",
    "routeName": "point to point",
    "trailerPickUpLocation": {
      "coordinates": {
        "x": -483.49,
        "y": -2824.99,
        "z": 6
      },
      "heading": 43.66
    },
    "trailerReturnLocation": {
      "coordinates": {
        "x": -372.51,
        "y": -2800.28,
        "z": 6
      },
      "heading": 136
    }
  },
  {
    "routeType": "POINT_TO_POINT",
    "routeName": "point to point",
    "trailerPickUpLocation": {
      "coordinates": {
        "x": 338.25,
        "y": 2852.02,
        "z": 43.44
      },
      "heading": 114.9
    },
    "trailerReturnLocation": {
      "coordinates": {
        "x": 2672.91,
        "y": 1431.58,
        "z": 24.5
      },
      "heading": 270.55
    }
  }
]
